 .modal {
  min-width: 380px;
  min-height: 150px;
  position: fixed;
  left: 50%;
  padding: 24px;
  top: 55%;
  transform: translate(-50%, -50%);
  z-index: 11;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 50px;
  border-radius: 15px;

  background-color: #e1e7e8;

}

.main-title{
  color: #04656c;
}

.overlay {
  background: #000;
  height: 100vh;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.container-divs-choices {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 15px;
}
.choice{
  margin-top: 10px ;
}

.choice label,
.choice input {
  cursor: pointer;
  transition: 0.8s;

}
.choice label:hover,
.choice input:hover {
 color: rgb(61, 26, 155);
}

.title-select{
  margin-left: 8px;
}

.btn{
  margin-top: 20px;
  display: inline-block;
}
.btn button{
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border-style: none;
  background-color: #bba1bb;
  cursor: pointer;
  margin-left: 5px;

  background: rgba(187, 161, 187, 0.774);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}



@media screen and (max-width: 548px) {
  .modal {
    width: 90%;
    min-width: 90%;
    padding: 50px 12px 24px;
    font-size: 1.2rem;
  }
}
