<div class="title-home">
  <h2 class="ff-Open-Sans-regular global-title-page">Escolha</h2>
</div>

<section class="main-section-home">
  <div class="button-container">
    <button class="btn ff-Open-Sans-regular" (click)="selectResource('create')">Criar recursos</button>
    <button class="btn ff-Open-Sans-regular" (click)="selectResource('read')">Listar recursos</button>
    <button class="btn ff-Open-Sans-regular" (click)="selectResource('update')">Alterar recursos</button>
    <button class="btn ff-Open-Sans-regular" (click)="selectResource('delete')">Deletar recursos</button>
  </div>
</section>
