
.container{
  /* overflow: scroll */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 150px;
  margin-top: 15px;
  border-radius: 15px;

  background: rgba(255, 255, 255, 0.384);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  color: antiquewhite;
}

.content p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}
