
.container{
  /* overflow: scroll */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 150px;
  margin-top: 15px;
  border-radius: 15px;
  background-color: #e8e1e8;
  box-shadow: 0px 4px 8px 1px rgba(148,108,171,1);
}
