 <div class="container">
   <div *ngIf="getResource.getChoiceTurma()" class="content">
      <p><b>ID:</b> {{ resourceClass.id }}</p>
      <p>Ano:  {{ resourceClass.grade }}</p>
      <p>Categoria:  {{ resourceClass.section }}</p>
      <p>Turno:  {{ resourceClass.shift }}</p>
    </div>

    <div *ngIf="getResource.getChoiceEstudante()" class="content">
      <p><b>ID:</b> {{ resourceStudent.id }}</p>
      <p>Primeiro nome: {{ resourceStudent.firstName }}</p>
      <p>Ultimo nome: {{ resourceStudent.lastName }}</p>
      <p>Email: {{ resourceStudent.email }}</p>
      <p>Telefone: {{ resourceStudent.phoneNumber }}</p>
      <p>Data de nascimento: {{ resourceStudent.birthDate }}</p>
    </div>

    <div *ngIf="getResource.getChoiceDisciplina()" class="content">
      <p><b>ID:</b> {{ resourceSubject.id }}</p>
      <p>Titulo: {{ resourceSubject.title }}</p>
    </div>
 </div>
