<footer class="footer">
  <small class="TextCopyright">&copy;
      2023 Larissa Leal.
  </small>
  <div class="LogoRodape">
    <a href="https://www.linkedin.com/in/larissa-leal-dias-408455157/" title="linkedin">
      <img class="linkedin" src="../../../assets/imgs/linkedin.png" alt="Logo do Linkedin">
    </a>
    <a href="https://github.com/LariLealDias" title="GitHub">
      <img class="github" src="../../../assets/imgs/github-character.png" alt="Logo do Linkedin">
    </a>
  </div>
</footer>
