<section>
  <div class="container-title">
    <h2 class="global-title-page">Todas instâncias de {{ userChoice }}</h2>
  </div>

<div *ngIf="getChoiceTurma()" class="container">
  <div class="center-content" *ngIf="readClass.length > 0, else emptyArrayRead">
    <div *ngFor="let oneResource of readClass" >
      <app-resource [resourceClass]="oneResource"></app-resource>
    </div>
  </div>
</div>

<div *ngIf="getChoiceEstudante()" class="container">
  <div class="center-content" *ngIf="readStudent.length > 0, else emptyArrayRead">
    <div *ngFor="let oneResource of readStudent">
      <app-resource [resourceStudent]="oneResource"></app-resource>
    </div>
  </div>
</div>

<div *ngIf="getChoiceDisciplina()" class="container">
  <div class="center-content" *ngIf="readSubject.length > 0, else emptyArrayRead">
    <div *ngFor="let oneResource of readSubject">
      <app-resource [resourceSubject]="oneResource"></app-resource>
    </div>
  </div>
</div>

<div class="container-btn">
  <button class="global-btn" (click)="backToSelect()">Voltar</button>
  <button class="global-btn" (click)="getPagination()">Ver mais</button>
</div>

</section>

<ng-template #emptyArrayRead>
  <div class="empty-array-read">
    <p class="ff-Open-Sans-regular">A lista de recursos do tipo {{ userChoice }} está vazia</p>
  </div>
</ng-template>

