.title-page-get-resource{
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-page-get-resource h2{
  margin-top: 20px;
}

.center-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;

}

.empty-array-readClass{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px ;
}
.empty-array-readClass p{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 100px;
  border-radius: 15px;
  background-color: #e8e1e8;
  box-shadow: 0px 4px 8px 1px rgba(148,108,171,1);
}



